/**
* Maestro Framework
* Fichier des boutons
* @author: Xavier CHOPIN
*/

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: .5px;
    background-color: $couleurTheme;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 0px;
    outline: 0;
    padding: 1.1em 1em;
    text-transform: uppercase;
    vertical-align: middle;
    @include transition(0.3s);

}

.btn:hover {
    background-color: $couleurThemeLeger;
    @extend %effetSurvol;
}



.btn:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 120px;
    margin-left: -60%;
    margin-top: -60px;
    background: $blancEffet;
    border-radius: 100%;
    opacity: 0.5;
    transform: scale(0);
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.btn:not(:active):after {
    animation: ripple 1s ease-out;
}

.btn-large {
    padding: 1.5em 3em;
    font-size: 1.2em;
}

.btn-petit{
    padding: 1em 1em;
    font-size: 0.8em;
}


.btn-simple:not(:active):after {
    animation: none;
}

.btn-simple:hover, .btn-simple:active, .btn-simple:focus{
    background-color: $couleurThemeLeger;
    @extend %effetSurvol;
}


.btn-vert {
    background-color: $vert ;
}

.btn-vert:hover, .btn-vert:active, .btn-vert:focus {
    background-color: $vertLeger ;
    @extend %effetSurvol;
}

.btn-rouge {
    background-color: $rouge;
}

.btn-rouge:hover, .btn-rouge:active, .btn-rouge:focus {
    background-color: $rougeLeger;
    @extend %effetSurvol;
}

.btn-orange {
    background-color: $orange ;
}



.btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: $orangeLeger ;
    @extend %effetSurvol;
}


.btn-theme {
    background-color: #26a69a;

    @include transition(0.3s);
  }

.btn-theme:hover, .btn-theme:active, .btn-theme:focus {
    background-color: lighten(#26a69a,5);
    @extend %effetSurvol;
}

.btn-flat {
    background-color: transparent;
    color:black;
    box-shadow: none;
}

.btn-flat:hover, .btn-flat:active, .btn-flat:focus {
    background-color: $grisFlat;
    box-shadow: none;
}

.btn-extra-large {
    width: 100%;
    font-size: 1.7em;
    padding: 1.3em 1em;
}

.btn-fancy {
    height: 2em;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    margin: 10px auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px #676767;
    box-shadow: 0px 5px 0px 0px #676767;
}

.btn-fancy:active:before {
    top: -3px;
}

.btn-fancy:active {
    top: 3px;
}

.btn-fancy:not(:active):after {
    animation: none;
}

.btn-fancy:hover {
    border-left: solid 1px #676767;
    box-shadow: 0px 5px 0px 0px #676767;
}
